* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f9fa;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a202c;
  padding: 15px 50px;
  color: white;
}

nav .logo {
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* Search & Filter */
.search-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.search-filter input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
  outline: none;
}

.search-filter select {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 50px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  color:#c2410c
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.card-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
}

.btn.detail {
  background: #22c55e;
  color: white;
}

.btn.detail:hover {
  background: #15803d;
}

.btn.favorite {
  background: #f97316;
  color: white;
}

.btn.favorite:hover {
  background: #c2410c;
}
